*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body{
  min-height: 100vh;
  padding: 0;
  height: 0;
  background: white;

}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 90%;
  margin: auto;
  
  
}

@keyframes slideUp {
  0%{
    opacity: 0;
    transform:  translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}